workflows/03-resumo-noticias-telegram/workflow.json
{
  "name": "Resumo Diário de Notícias — Telegram + Groq",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 12,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Todo dia ao meio-dia",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "f1a2b3c4-d5e6-7890-abcd-111111111111",
              "name": "links",
              "value": "=[\"https://www.bbc.com/portuguese\", \"https://g1.globo.com\", \"https://tecnoblog.net\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Lista de Links",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const links = $input.first().json.links;\nreturn links.map(link => ({\n  json: { url: link }\n}));"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Separar Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Buscar Conteúdo da Página",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const rawHtml = item.json.data || item.json.body || item.json.content || '';\n  const url = $('Separar Links').item.json.url || '';\n\n  const textOnly = rawHtml\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .substring(0, 3000);\n\n  return {\n    json: {\n      url: url,\n      textContent: textOnly\n    }\n  };\n});"
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Limpar HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.4,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um jornalista experiente. Analise o conteúdo de uma página de notícias e gere um resumo. Responda SOMENTE neste formato (Markdown para Telegram):\\n\\n*TÍTULO:* [título da principal notícia]\\n*RESUMO:* [3 linhas resumindo o conteúdo]\\n\\nNão adicione nenhum texto fora desse formato.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('Analise o conteúdo abaixo da URL ' + $json.url + ':\\n\\n' + $json.textContent) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Groq - Resumir Notícia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID_GROQ",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
              "name": "url",
              "value": "={{ $('Limpar HTML').item.json.url }}",
              "type": "string"
            },
            {
              "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
              "name": "resumo",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-000000000001",
      "name": "Formatar Resultado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst dataHoje = new Date().toLocaleDateString('pt-BR', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nconst dataFormatada = dataHoje.charAt(0).toUpperCase() + dataHoje.slice(1);\n\nlet mensagem = `📰 *Resumo de Notícias*\\n`;\nmensagem += `_${dataFormatada}_\\n\\n`;\n\nitems.forEach((item) => {\n  const url = item.json.url || '';\n  const resumo = item.json.resumo || '';\n  const dominio = url.replace('https://','').replace('http://','').split('/')[0];\n\n  mensagem += `━━━━━━━━━━━━━━━━\\n`;\n  mensagem += `🔗 [${dominio}](${url})\\n\\n`;\n  mensagem += `${resumo}\\n\\n`;\n});\n\nmensagem += `━━━━━━━━━━━━━━━━\\n`;\nmensagem += `_Gerado automaticamente pelo seu workflow n8n ⚡_`;\n\nreturn [{\n  json: {\n    mensagem_telegram: mensagem\n  }\n}];"
      },
      "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
      "name": "Montar Mensagem Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "chatId": "1546115301",
        "text": "={{ $json.mensagem_telegram }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "d0e1f2a3-b4c5-6789-defa-890123456789",
      "name": "Enviar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2250, 300],
      "credentials": {
        "telegramApi": {
          "id": "CREDENTIAL_ID_TELEGRAM",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Todo dia ao meio-dia": {
      "main": [[{ "node": "Lista de Links", "type": "main", "index": 0 }]]
    },
    "Lista de Links": {
      "main": [[{ "node": "Separar Links", "type": "main", "index": 0 }]]
    },
    "Separar Links": {
      "main": [[{ "node": "Buscar Conteúdo da Página", "type": "main", "index": 0 }]]
    },
    "Buscar Conteúdo da Página": {
      "main": [[{ "node": "Limpar HTML", "type": "main", "index": 0 }]]
    },
    "Limpar HTML": {
      "main": [[{ "node": "Groq - Resumir Notícia", "type": "main", "index": 0 }]]
    },
    "Groq - Resumir Notícia": {
      "main": [[{ "node": "Formatar Resultado", "type": "main", "index": 0 }]]
    },
    "Formatar Resultado": {
      "main": [[{ "node": "Montar Mensagem Telegram", "type": "main", "index": 0 }]]
    },
    "Montar Mensagem Telegram": {
      "main": [[{ "node": "Enviar Telegram", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "1",
  "meta": { "instanceId": "" },
  "tags": ["telegram", "noticias", "groq", "llama", "automacao"]
}
